.center {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.container {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.profile-picture {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    align-items: flex-start;
    width: 30%;
}

.profile-summary {
    width: 70%;
    margin-left: 3em;
    display: flex;
    flex-direction: column;
}

.profile-summary > h1 {
    font-weight: 400;
    margin:0;
}

.profile-stats {
    display: flex;
    margin-top: 1em;
    column-gap: 1em;
}


.profile-bio {
    margin-top: 1em;
    font-weight: 300;
}

.profile-picture > img {
    border-radius: 50%;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    
    .container {
        width: 100%;
        justify-content: space-around;
    }

    .profile-picture {
        width: 25%;
    }

    .profile-summary {
        width: 75%;
        margin-left: 1.5em;
    }

    .profile-summary > h1 {
        font-size: x-large;
    }

    .profile-stats {
        flex-direction: column;
        row-gap: .5em;
    }

}

