.gallery-tablink {
    border-top: 1px solid #c9c9c9;
    margin-top: 1em;
    justify-content: center;
    column-gap: 1em;
    padding-top: 0;
}

.gallery-tablink > a {
    text-decoration: none;
    color: black;
    padding: .5em;
}

.gallery-tablink > a:hover {
    background-color: #f3f3f3;
}

.gallery-tablink > .active {
    font-weight: bold;
}

.add-post {
    border: 1px solid #0099ff;
    border-radius: 5px;
    background-color: #0099ff;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}

.add-post:hover {
    cursor: pointer;
    background-color: white;
    color: #0099ff;
    border: 1px solid;
    box-shadow: 0 0 5px #c9c9c9;
    transition: all 200ms ease-in-out;
    
}

.add-post-mobile {
    display: none;
}

.gallery-grid {
    display: flex;
    justify-content: flex-start;
    column-gap: 5%;
    row-gap: 1em;
    flex-wrap: wrap;
}

.gallery-frame {
    width: 30%;
    position: relative;
    height: 0;
    padding-bottom: 30%;
}

.gallery-frame > img {
    width: 100%;
}

.gallery-iteminfo {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0;
    opacity: 0;
    font-weight: bold;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    justify-content:center;
    flex-direction: column;
}

.gallery-iteminfo:hover {
    opacity: 1;
    transition: all 350ms ease-in;
}

.gallery-iteminfo:not(:hover) {
    transition: all 650ms ease;
}

.gallery-iteminfo:hover > * {
    transform: translateY(25%);
    transition: 550ms ease;
}
.gallery-iteminfo:not(:hover) > * {
    transform: translateY(0%);
    transition: 350ms ease;
}

.gallery-iteminfo img {
    width: 20px;
}

.dislike {
    filter: invert(100%);
}

@media screen and (max-width: 480px) {

    .add-post {
        display: none;
    }

    .add-post-mobile {
        display: flex;
        justify-content: center;
        padding: .6em;
        position: fixed;
        z-index: 1;
        bottom: 0;
        right: 0;
        width: 56px;
        height: 56px;
        border: 0px solid;
        border-radius: 50%;
        background-color: #0099ff;
        color: white;
        font-size: x-large;
        text-shadow: 1.5px 1px #555;
        margin-bottom: 70px;
        margin-right: 20px;
        cursor: pointer;
    }

    .add-post-mobile:active {
        background-color: #085d95;
    }

    .gallery-frame {
        width: 100%;
        height: auto;
        padding-bottom: 0;
    }

    .gallery-iteminfo {
        position: relative;
        background-color: transparent;
        justify-content: space-between;
        flex-direction: row-reverse;
        font-weight: bold;
        color: white;
        opacity: 1;
        width: auto;
        height: auto;
        color: black;
        font-weight: 100;
        top: -5px;
    }

    .gallery-iteminfo:hover > * {
        transform: translateY(0%);
    }

    .gallery-iteminfo:not(:hover) > * {
        transform: translateY(0%);
    }

    .dislike {
        filter: invert(0%);
    }
}