.dislike {
    filter: invert(100%);
}

.gallery-tablink {
    border-top: 1px solid #c9c9c9;
    margin-top: 1em;
    justify-content: center;
    column-gap: 1em;
    padding-top: 0;
}

.gallery-tablink > a {
    text-decoration: none;
    color: black;
    padding: .5em;
}

.gallery-tablink > a:hover {
    background-color: #f3f3f3;
}

.gallery-tablink > .active {
    font-weight: bold;
}

.gallery-grid {
    display: flex;
    justify-content: flex-start;
    column-gap: 5%;
    row-gap: 1em;
    flex-wrap: wrap;
}

.gallery-frame {
    width: 30%;
    position: relative;
    height: 0;
    padding-bottom: 30%;
}

.gallery-frame > img {
    width: 100%;
}

.gallery-iteminfo {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0;
    opacity: 0;
    font-weight: bold;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    justify-content:center;
    flex-direction: column;
}

.gallery-iteminfo:hover {
    opacity: 1;
    transition: 350ms;
}

.gallery-iteminfo img {
    width: 20px;
}

@media screen and (max-width: 480px) {

    .dislike {
        filter: invert(0%);
    }

    .gallery-frame {
        width: 100%;
        height: auto;
        padding-bottom: 0;
    }

    .gallery-iteminfo {
        position: relative;
        background-color: transparent;
        justify-content: space-between;
        flex-direction: row-reverse;
        font-weight: bold;
        color: white;
        opacity: 1;
        width: auto;
        height: auto;
        color: black;
        font-weight: 100;
    }
}